<ion-view view-title="Browse">
  <ion-content>
    <button class="button" ng-click="savePerson('Gary', 'Neville')"> Save Gary Neville</button>
    <button class="button" ng-click="savePerson('Phil', 'Neville')"> Save Phil Neville</button>
    <button class="button" ng-click="savePerson('Chris', 'Smalling')"> Save Chris Smalling</button>
    <button class="button" ng-click="getPerson()"> Print All People</button>
    <button class="button" ng-click="getPerson({lastname: 'Neville'})"> Print All Neville</button>
  </ion-content>
</ion-view>
